@font-face {
  font-family: "SuisseIntlBook ";
  src: url(" ./font/SuisseIntl-Book.eot");
  src: url("./font/SuisseIntl-Book.eot?#iefix ") format("embedded-opentype"),
    url(" ./font/SuisseIntl-Book.woff2 ") format("woff2 "),
    url(" ./font/SuisseIntl-Book.woff ") format(" woff "),
    url(" ./font/SuisseIntl-Book.svg#SuisseIntl-Book ") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntlRegular";
  src: url("./font/SuisseIntl-Regular-WebM.eot");
  src: url("./font/SuisseIntl-Regular-WebM.eot?#iefix")
      format("embedded-opentype"),
    url("./font/SuisseIntl-Regular-WebM.woff2") format("woff2"),
    url("./font/SuisseIntl-Regular-WebM.woff") format("woff"),
    url("./font/SuisseIntl-Regular-WebM.ttf") format("truetype"),
    url("./font/SuisseIntl-Regular-WebM.svg#SuisseIntl-Regular-WebM")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "SuisseIntlRegular", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;

  @media (min-width: 1600px) {
    font-size: 16px;
  }
}
